
html, body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif,'Candara','Comic Sans MS';
    min-height: 100vh;
    box-sizing: border-box;
    
}
* {box-sizing: inherit;}

#page
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;justify-content: center;align-items: center;
    height: 100vh;

}
#blog-creation-compte{width: 350px; text-align: left;  height: 200px; padding-top: 45px;}
#formulaire{ width: 550px;margin-left: 5%; height: 220px; background-color: white;padding-top:20px ;
    border: 1px solid rgb(0,0,125);
border-radius: 10px;box-shadow: 0px 0px 2px grey;}

.line-1 input{width: 230px;height: 30px; margin-left: 10px;}
.line-1{margin: auto; width: 480px; }
.line-2, .line-3, .line-1{width: 480px;margin: auto; margin-top: 10px; display: flex;}
.line-2 label, .line-3 label{font-family: 'Courier New';font-style: oblique;font-weight: bold; margin-left: 10px;  width: 230px;height: 30px; display: inline-block; text-align: center;font-size: 18px;}
.line-2 input, .line-3 input{width: 230px;height: 30px; display: inline-block; margin-left: 10px;}
.line-4{text-align: center;margin-top: 20px; height: 50px; position: relative;}
input{text-align: center; font-size: 17px;font-style: oblique;}
.line-4 label{display: block; background-color: rgb(0,0,125); color: white;font-weight:bold ;font-size: 20px;
    border-radius: 8px; padding: 10px 60px 10px 60px;width: 200px;display: inline-block;font-family: 'Courier New';font-style: oblique;}

.sexe{display: inline-block;width: 280px;text-align: left;padding-left: 10px;font-style: oblique;}
.sexe span{margin-right: 30px; font-family: 'Courier New';font-style: oblique;font-weight: bold;font-size: 20px;}
.lien-connexion{color: rgb(0,0,125);font-family: 'Courier New';font-size: 20px;font-weight: bold;font-style: oblique;}
