
html, body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif,'Candara','Comic Sans MS';
    min-height: 100vh;
    box-sizing: border-box;overflow-x: hidden;
    
    
}
* {box-sizing: inherit;}
.propriete{color: #f39c12; font-weight: bold;border-bottom: 2px solid #f39c12;}    


#page_principale
{
    
    width: 100%;
    margin: 0px;
    padding: 0px;

}
#cacher
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 55px;
    margin-bottom: 0px;
    background-color: #f4f4f4;
}
#contenu
{
    
	vertical-align: top;
	width: 100%;
	text-align: center;

	padding-left: 0px;
    text-align: center;

}




#caracteristique{ font-size: 14px;color: #333; text-align: left; width: 100%;
    
    margin: auto;margin-bottom: 20px;
display: flex;align-items: center;justify-content: center;
}
.search-section {
    display: flex;
    align-items: flex-start;
    gap: 0px;
    margin-bottom: 20px;margin-top: 15px;
}

.main-button {
    background-color: rgb(0,0,125);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    position: absolute;left: -60px;top: -10px;
}

.main-button:hover {
    background-color: #2a557d;
}

.main-button::after {
    content: '▼';
    font-size: 12px;
    margin-left: 8px;
}

.search-form {
    background-color: rgba(255, 255, 255,0.85);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   
    max-width: 700px;
    position: relative;
    width: 98%;
    z-index: 10;margin: auto;
}
.grid{display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;margin-bottom: 15px;}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 100%;color: #333;
    padding: 8px;
    border: 1px solid #444;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);
    font-size: 14px; font-size: 18px;
}

.form-control:focus {
    outline: none;
    border-color: rgb(0,0,125);
}

.search-button {
    grid-column: 2;
    background-color: #d1783b;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
    justify-self: end;
    position: absolute;
    top: -50px; /* Positionnement au-dessus du formulaire */
    right: 0;
}

.search-button:hover {
    background-color: #b7632e;
}

.form-label {
    position: absolute;
    top: -30px; /* Positionnement au-dessus du champ */
    left: 20px;
    color: #333;border: 2px solid red;
    font-size: 12px;
    pointer-events: none; /* Empêche l'interférence avec les clics */
}

.full-width {
    grid-column: 1 / 3;
}

/* Styles spécifiques pour le bouton bleu en bas */
.more-options {
    background-color: #e68a00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;margin: auto;
    margin-top: 10px;
    text-align: center;margin-top: 0px;min-width: 80%;display: block;
}
.about-form{font-size: 20px;margin-bottom: 20px;padding-left: 5px;padding-right: 2px;}



.commune_content{min-width: 100%;display: flex;gap: 15;height: 50px;align-items: center;}
.item-commune_{width: 100px;font-size: 18px;}
.btn-send{text-align: right;width: 100%;margin-bottom: 0px;}

.choix-comm{ display: flex;width: 50%;
    min-width: 70%;height: 38px; background-color: white; }







.maison{margin-top: 0px; padding-bottom: 0px; padding-top: 0px;position: relative;
    border-radius: 0px; width:100%; height: auto; background-color: white;margin: auto;
margin-bottom: 0px;}
.img-maison{width: 100%;max-width: 400px; height: auto;margin-top: 15px; max-height: 300px;margin-bottom: 15px;}
.identiter{text-align: left;padding-left: 5px;}

.send-form{text-align: right; padding-right: 25px;}
.send-form label{margin: auto; text-decoration: none;border-radius: 8px; font-size: 18px;
    padding: 8px 20px 10px 20px; background-color: rgb(0,0,125);color: white;font-family: 'Courier New';
    font-weight: bold;font-style: oblique;position: relative;cursor: pointer;}
.time_post{font-size: 13px;color: #888;position: absolute;left: 85px;font-weight: normal;top: 40px;}
.time_post svg{position: relative;top: 3px;}.heure_{left: 40px;position: relative;}
    .details-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin-left: 20px;
        max-width: 400px;
        padding-bottom: 15px;
    }
    .detail-item {
        display: flex;
        align-items: center;
    }
    .detail-item .icon {
        background-color: #e0f0ff;
        color: rgb(0,0,125);
        padding: 10px;
        border-radius: 10px;
        margin-right: 10px;
        font-size: 20px;
    }
    .detail-item p {
        margin: 0;
        line-height: 1.2;
    }
    .detail-item .label {
        font-size: 14px;
        color: #888;
    }
    .detail-item .value {
        font-weight: bold;
        color: #333;
    }


.img-profil{margin-left: 10px;  width: 50px;height: 50px;border-radius: 100px;position: relative;margin-top: 10px;}
.identiter .name{font-size: 16px;font-weight: bold; color: #333; position: relative; bottom: 25px;margin-left: 20px; margin-top: 10px;}
.adresse{text-align: left;position: relative;margin-left: 20px; margin-right: 10px;margin-top: 0px;}

.adresse span {font-size: 16px; position: relative;bottom: 7px;color: #555;line-height: 1.5}
.description-maison{text-align: left; font-size: 16px;color: #555;line-height: 1.5;
    width: 280px;vertical-align: top;height: 200px; padding-left: 20px;padding-right: 5px;display: inline-block;}
.description-maison span{font-size: 18px;font-style: normal;font-weight: bold;display: block;margin-bottom: 4px;}
.prix{text-align: center;padding-right: 0px; border-radius: 0px 0px 10px 10px;height: 40px;}
.span-prix{border-radius: 0px; padding: 10px 20px 10px 20px;
    font-size: 18px;
    font-weight: bold;color: rgb(0,0,125);
    
   position: absolute; bottom: 65px;right: 0px;display: inline-block;}
.prix .date{display: inline-block; position: relative;font-style: oblique; margin-left: 0px;font-size: 19px;font-weight: bold;}
.prix .date svg{position: relative;top: 5px;}






@media (max-width: 650px) {
    .hide-mobile{display: none;}
    }

