html, body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: gray;
    font-family: Arial, sans-serif,'Candara','Comic Sans MS';
    box-sizing: border-box;
    background-color: #f4f4f4
    
}
* {box-sizing: inherit;}


#page_principale
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    

}
#hide
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 120px;
    border: 1px solid black;
    margin-bottom: 0px;
}
#contenu
{
	min-width: 600px;
    float: right;
    margin-top: 0px;
    margin-left: calc(100% - 410px);
    position: relative;
    bottom: 13px;
    margin-right: 20px;
    
}
#aside
{
    width: calc(100% - 410px);
   background-color: white; 
	height: 100%;padding-top: 0px;
	font-size: 20px;
    float: left;
    padding: 0px;
    position: relative;
    bottom: 10px;
    margin-right: 0px;
    
}
.lien-compte a{display: block;font-style: oblique;font-family: 'Courier New';font-weight: bold; border-radius: 8px; margin-left: 100px; background-color: red;color: white;font-size: 20px;padding: 5px; width: 150px;text-align: center;text-decoration: none; margin-top: 15px;}
#bolc-aside{text-align: justify; font-size: 18px; padding: 8px;overflow-y: auto;
     width: 400px; box-shadow: 0px 0px 2px black; position: fixed;width: calc(100% - 650px);
     margin-top: 10px;height: 100%; background-color: white;padding-right: 30px;}.titre-aside{font-size: 20px;font-style: oblique;display: block; margin-bottom: 10px;}
.statistique{text-align: left;}
.img-poigner-main{border-radius: 8px; margin-top: 15px; width: 180px;height: auto; float: left; margin-right: 20px;margin-left: 30px;}
.vendre-avec-nous{text-align: left;margin-right: 15px;font-size: 18px;}
.message-aide{text-align: left;height: 50px;width: 100%;position: relative;}
.message-aide svg{display: block;}
.message-aide span{display: block; margin-left: 10px;}
.message-aide a{display: flex;margin: auto; text-decoration: none;border-radius: 8px; 
    padding: 8px 20px 10px 20px; background-color: rgb(0,0,125);color: white;font-family: 'Courier New';
    position: absolute;bottom: 5px;font-weight: bold;font-style: oblique; right: 20px;}



#caracteristique{text-align: left; width: 100%;min-height: 150px;background-color: white;margin: auto;
    padding-top: 10px;max-width: 600px; margin-bottom: 5px;margin-top: 0px;border: 2px solid white;box-shadow: 0px 0px 4px grey;}

.ville, .pays{width: 44%;display: inline-block;margin-right: 8px;text-align: center; }


.ville select, .pays select{ color: black;border-radius: 2px; font-size: 16px; width: 150px;
     border: 1px solid black; font-weight: bold;}
.commune fieldset,.type-bien fieldset{width: 98%;max-width: 550px; margin: auto;margin-top: 15px;
    border-radius: 5px; text-align: left; box-shadow: none;border: 1px solid black; font-weight: bold;}
.commune span, .type-bien span{display: inline-block; margin-left: 15px; margin-top: 10px;}


.send-form{text-align: right; padding-right: 25px;height: 60px;}
.send-form label{margin: auto; text-decoration: none;border-radius: 8px; font-size: 18px;
    padding: 8px 15px 10px 15px; background-color: rgb(0,0,125);color: white;font-family: 'Courier New';
    font-weight: bold;font-style: oblique;position: relative;}



.salon{width: 100%; margin-bottom: 5px; position: relative;max-width: 600px;margin: auto;
   border-radius: 10px; background-color: white; padding: 0px;overflow: hidden;padding-bottom: 10px;box-shadow: 0px 0px 5px grey;margin-bottom: 10px;}
 
 .type-salon{font-weight: bold; width: 150px;height: 75px;color: red;background-color: yellow;
    margin: 0px;border-radius: 0px 0px 0px 0px;rotate: -53deg;position: absolute;z-index: 100;left: -65px;
padding-top: 40px;padding-left: 60px;font-size: 18px;box-shadow: 0px 0px 8px grey;display: inline-block;} 
.title-salon{font-weight: bold;padding: opx;text-align: center;font-size: 18px;}

.img-profil-salon{width: 70%;display: block;margin: auto;border-radius: 10px;max-height: 250px;max-width: 400px;}

.adresse{text-align: left;font-style: oblique;margin-left: 20px;padding-bottom: 0px;
    margin-right: 10px;margin-bottom: 0px;}

.adresse span {font-size: 17px; position: relative;bottom: 7px;font-style: oblique;}
.service{margin-left: 20px;margin-top: 0PX;}
.service span{display: inline-block;margin-right: 20px; max-width: 200px;margin-top: 15px;color: rgb(0,0,125);font-weight: bold;}

.date{position: relative;font-size: 17px;margin-left: 25px;}
.date svg{position: relative;top: 5px;}



.hide-desktop{display:none}