html, body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif,'Candara','Comic Sans MS';
    min-height: 100vh;
    box-sizing: border-box;
    
}
* {box-sizing: inherit;}

#page_
{
     
    width: 100%;
    margin: 0px;
    padding: 0px;

}
#contenu{
    
    display: flex;justify-content: center;
    vertical-align: top;
    
    width: 100%;
    max-width: calc(100% - 55px);
    text-align: center;
    padding-left: 0px;
    text-align: center;
    box-sizing: border-box;
    min-height: 100vh;padding: 10px;
    margin-left: 55px;margin-top: 0px;
    margin-top: 10px; background-color: #ffffff;border-radius: 10px 0px 0px 0px;
}



.left-panel {
    flex-grow: 1; /* Prend l'espace restant */
    padding: 40px;
    box-sizing: border-box;
    
    /* S'assure qu'il y a du contenu à faire défiler */
    margin-left: 400px; /* Laisse de l'espace pour le panneau de droite */
    background-color: #ffffff;
    min-width: 500px;padding-top: 20px;
}



.label{color: #e68a00;font-size: 22px;display: flex;gap: 5px;padding-top: 5px;justify-content: center;
    margin-top: 0px;text-align: center;margin-bottom: 5px;}  
.label svg, .label span{display: block;} 



/* Bloc de droite fixe */
.right-panel {
    width: 400px; /* La largeur peut être ajustée */
    position: fixed;
    top: 0px;
    left: 60px;
    height: calc(100% - 100px);
    /* Permet le défilement du contenu de droite */
    display: flex;justify-content: center;align-items: center;
    box-sizing: border-box;
    margin-top: 100px;flex-direction: column;

    
     
}
.right-panel img{
    width: 350px; /* La largeur peut être ajustée */
    border-radius: 10px;
    left: 60px;
    height: auto;
    
     
}


.form-container {
    background-color: white;
    padding: 40px;margin: auto;

    border-radius: 20px;border: 1px solid #555;
    box-shadow: 1px 1px 2px grey;
    width: 600px;margin-top: 0px;padding-top: 10px;
}
.form_1{padding: 20px;margin-bottom: 20px;}
h2 {
    text-align: center;
    color: #333;
    font-weight: 500;
    margin-bottom: 15px;font-size: 20px;display: none;
}

.tab-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

.tab-buttons button {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    border: 2px solid rgb(0,0,125);
    border-radius: 5px;
    background-color: rgb(0,0,125);
    cursor: pointer;
    font-size: 16px;
    color: white;
    transition: all 0.3s ease;
    font-weight: 500;
}

.tab-buttons button svg {
    margin-right: 8px;
}

.tab-buttons .active {
    background-color: #ffffff;
    border-color: rgb(0,0,125);
    color: rgb(0,0,125);
    
}

.form-content {
    display: flex;
    gap: 40px;
}

.form-content .left-column,
.form-content .right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;max-height: 60px;
}

.input-group label {
    font-size: 14px;
    color: #111;text-align: left;
    margin-bottom: 8px;
}

.input-group input, .input-group select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;border: 1px solid #555;
}


.input-group.full-width {
    width: 100%;
}

.status-input {
    display: flex;
    align-items: center;
    gap: 8px;
}

.status-input select {
    flex-grow: 1;
}

.status-input .icon-button {
    padding: 10px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.status-input .icon-button:hover {
    background-color: #bdbdbd;
}

.photo-upload {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 2px solid rgb(0,0,125);
    border-radius: 50%;
    background-color: #eceff1;
    cursor: pointer;
    transition: all 0.3s ease;
    align-self: center;
    margin-bottom: 10px;
    position: relative;
}

.photo-upload:hover {
    background-color: #cfd8dc;
    border-color: #78909c;
}

.photo-upload svg {
    color: #78909c;
    width: 35px;
    height: 35px;
}

.photo-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.actions {
    display: flex;
    gap: calc(100% - 350px);
   justify-content: right;
    margin-top: 40px;
}

.actions button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;display: block;
    font-weight: 700;
    transition: all 0.3s ease;width: 200px;
}

.actions .cancel {
    background-color: #e0e0e0;
    color: #555;max-width: 120px;
}

.actions .save {
    background-color: rgb(0,0,125);
    color: white;
   max-width: 200px;
}


.actions .save:hover {
    background-color: #333;
    border-color: #78909c;
}

.right-panel .form-input {
    flex-grow: 1;
    border: none;
    padding: 8px 10px;
    font-size: 16px;
    outline: none;border: 1px solid #a333;
}

.right-panel .form-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
}
.montant{display: flex;gap: 3px;flex-direction: row;}
#devise{max-width: 100px;}
#salaire{max-width: 200px;}

.hide-desktop{display: none;}