html, body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif,'Candara','Comic Sans MS';
    min-height: 100vh;
    box-sizing: border-box;
    
}
* {box-sizing: inherit;}

#page_
{
     
    width: 100%;
    margin: 0px;
    padding: 0px;

}
#contenu{
    
    display: flex;justify-content: center;
    vertical-align: top;
    
    width: 100%;
    max-width: calc(100% - 55px);
    text-align: center;
    padding-left: 0px;
    text-align: center;
    box-sizing: border-box;
    min-height: 100vh;padding: 10px;
    margin-left: 55px;margin-top: 0px;
    margin-top: 10px; background-color: #ffffff;border-radius: 10px 0px 0px 0px;
}



.left-panel {
    flex-grow: 1; /* Prend l'espace restant */
    padding: 40px;
    box-sizing: border-box;
    
    /* S'assure qu'il y a du contenu à faire défiler */
    margin-left: 400px; /* Laisse de l'espace pour le panneau de droite */
    background-color: #ffffff;
    margin-left: 450px;
}

.label{color: #e68a00;font-size: 22px;display: flex;gap: 5px;padding-top: 5px;justify-content: center;
    margin-top: 0px;text-align: center;margin-bottom: 5px;}  
.label svg, .label span{display: block;} 

.calendar{position: absolute;position: absolute;top: 10px;right: 80px;}

/* Bloc de droite fixe */
.right-panel {
    width: 450px; /* La largeur peut être ajustée */
    position: fixed;
    top: 0px;
    left: 60px;
    height: calc(100% - 100px);
    /* Permet le défilement du contenu de droite */
    display: flex;justify-content: center;align-items: center;
    box-sizing: border-box;
    margin-top: 100px;flex-direction: column;
padding: 0px;
     
}
.right-panel .container-img{
    width: 350px; /* La largeur peut être ajustée */
    border-radius: 10px;
    left: 60px;
    height: 200px;margin-top: 0px;
     
}


.container-img img{
    width: 100%; /* La largeur peut être ajustée */
    border-radius: 10px;
    left: 60px;
    height: auto;
     
}

.right-panel .about{padding: 10px;text-align: center;margin-top: 0px;background-color: #ffffff;}
.right-panel .form-input {
    flex-grow: 1;
    border: none;
    padding: 8px 10px;
    font-size: 16px;
    outline: none;border: 1px solid #a333;
}

.right-panel .form-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
}

.line-jour{display: flex;flex-direction: column;justify-content: left;font-size: 18px;
    font-family: 'Courier New';font-weight: bold;font-style: oblique;color: #555;
margin-bottom: 10px;margin-top: 0px;gap: 5px;}
.line-jour span{display: block;width: 220px;display: flex;}
#caracteristique{position: relative; display: flex;gap: 20px;justify-content: left;border: 1px solid #555;border-radius: 10px;text-align: left;padding-top: 20px;padding-left: 20PX;}
#form{margin: auto; background-color: #ffffff;padding-top:0px;
     width: 95%;max-width: 600px;
     margin: auto;margin-top: 10px; margin-bottom: 50px;}
#caracteristique legend{font-size: 20px;border: 1px solid #555;color: rgb(0,0,125);
     font-family: 'Courier New';font-weight: bold;font-style: oblique;padding: 3px 10px;border-radius: 5px; background-color: rgb(0,0,125);color: white;} 
.fermeture{width:350px;display: flex;align-items: center;}   
#caract{
    border-radius: 10px;text-align: left;padding-top: 20px;padding-left: 20px;}
    #caract span{display: inline-block;
        width: 130px;margin-right: 10px;margin-bottom: 20px;
        font-size: 18px;
        font-family: 'Courier New';font-weight: bold;font-style: oblique;color: #555;}

        .button {
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;display: block;
            font-weight: 700; position: absolute;background-color: #e68a00;
            bottom: 20px;right: 20px;color: white;border: none;
        }
        
.hide-desktop{display: none;}