html, body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    font-family: Arial, sans-serif,'Candara','Comic Sans MS';
    min-height: 100vh;
    box-sizing: border-box;
    
}
* {box-sizing: inherit;}

#page_
{
     
    width: 100%;
    margin: 0px;
    padding: 0px;

}
#contenu{
    
    display: flex;justify-content: center;flex-direction: column;
    vertical-align: top;width: 100%; box-sizing: border-box;
    min-height: 100vh;padding: 10px;margin-top: 10px; 
}

#right-menu{display: none;}

.left-panel {
    
    padding: 0px;
    box-sizing: border-box;
    display: flex;justify-content: center;width: 100%;
}



/* Bloc de droite fixe */
.right-panel {
    width: 100%;
    max-width: 450px; /* La largeur peut être ajustée */
   
    display: flex;justify-content: center;align-items: center;
    box-sizing: border-box;margin: auto;
    margin-top: 20px;flex-direction: column;
padding: 0px;
     
}
.right-panel .container-img{
    width: 350px; /* La largeur peut être ajustée */
    border-radius: 10px;
    left: 60px;
    height: 200px;margin-top: 0px;
     
}


.container-img img{
    width: 100%; /* La largeur peut être ajustée */
    border-radius: 10px;
    left: 60px;
    height: auto;
     
}

.right-panel .about{padding: 10px;text-align: center;margin-top: 0px;background-color: #ffffff;}
.right-panel .form-input {
    flex-grow: 1;
    border: none;
    padding: 8px 10px;
    font-size: 16px;
    outline: none;border: 1px solid #a333;
}

.right-panel .form-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
}


.booking-form {
    font-family: 'Courier New';color: #555;font-size: 18px;font-weight: bold;font-style: oblique;
    width: 550px;display: flex;flex-direction: column;justify-content: center;
}

.form-section  {
    margin-bottom: 20px;
    border-radius: 10px;padding: 20px;padding-top: 15px;
}
.form-section legend {
    text-align: left;
}
.form-section h3 {
    font-size: 18px;
    font-weight: 600;padding: 5px 8px;border-radius: 5px;font-family: 'Courier New', Courier, monospace;
 margin: auto;   margin-bottom: 20px;color: white;background-color: rgb(0,0,125);font-weight: bold;
    font-style: oblique;
}
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 30px;
}
.form-group {
    display: flex;
    flex-direction: column;
}
.form-group label {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
}
.form-group input, .form-group select {
    padding: 5px;
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    font-family: 'Courier New';color: #555;font-size: 18px;font-weight: bold;font-style: oblique;
}
.form-group input:focus, .form-group select:focus {
    outline: none;
    border-color: #000;
}
.form-group input[type="date"] {
    position: relative;
}
.form-group input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    max-height: 50px;
    color: transparent;
    background: transparent;
    cursor: pointer;
}

.montant{display: flex;gap: 5px;}
.btn-book {
    width:120px;
    padding: 8px;
    background-color: #e68a00;
    color: #fff;height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 16px;font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}


#select_verser{border: none;max-width: 150px;}
.about_reservation{font-family: Arial, Helvetica, sans-serif;
font-weight: normal;font-style: normal;font-size: 14px;text-align: justify;margin-bottom: 15px;}
.text-content{display: flex;align-items: center;gap: 10px;justify-content: center;
}
#msg{width: 300px;height: 80px;padding: 5px;border-radius: 8px;}

@media (max-width:600px) {
    .form-section  {
        min-width: 98%;margin: auto;margin-bottom: 20px;
    }

    .form-grid {
        display: flex;
        flex-direction: column;
    }
    .booking-form {
        width: 100%;
           }
    
           #select_verser{border: none;max-width: 200px;}
.about_reservation{font-family: Arial, Helvetica, sans-serif;
font-weight: normal;font-style: normal;font-size: 14px;text-align: justify;margin-bottom: 15px;}
.text-content{display: flex;align-items: center;gap: 10px;justify-content: center;
    flex-direction: column;
}
#msg{width: 300px;height: 80px;padding: 5px;border-radius: 8px;}
.left-panel{margin-bottom: 20px;}
.btn-book {
    width:200px;
   
}
}
        
.hide-mobile{display: none;}