
html, body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: gray;
    
    font-weight: normal;
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f8f9fa;
    overflow-x: hidden;
    
    
}
* {box-sizing: inherit;}

#page_principale
{
    width: 100%;
    margin: 0px;
    padding: 0px;

}
#cache
{
    width: 100%;
    
    margin: 0px;
    padding: 0px;
    height: 80px;
    

    
}
#contenu
{
	min-width: calc(100% - 410px);
    float: right;
    margin-top: 0px;
    margin-left: calc(100% - 410px);
    position: relative;
    bottom: 13px;
    
}

.form-card {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 95%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;margin: auto;height: 240px;position: relative;
}

.form-group select {
    
    width: 100%;
    padding: 8px 8px 8px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    font-size: 16px;
    color: #555;
    
}

.form-group {
    width: 100%;
    position: relative;
}

.form-group label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #333;
    font-size: 14px;
    font-weight: 500;
}



.search-btn {
    width: 120px;
    padding: 8px;
    background-color: rgb(0,0,125);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;position: absolute;bottom: 10px;right: 35px;
    text-transform: uppercase;margin-left: 220px;
}

.search-btn:hover {
    background-color: #0056b3;
}

.search_{padding-left: 5px;padding-right: 2px;margin-bottom: 15px;margin-top: 25px;}

.left-choise {
    width: 100%;
    max-width: 670px;
    display: flex;align-items: center;margin-bottom:20px ;
    height: 300px;margin-top: 0px;
    
}


.restaurant{position: relative;padding-bottom: 10px; width:100%;  background-color: #ffff;max-width: 650px;
 margin: auto;   box-shadow: 0px 0px 4px grey;margin-bottom: 5px;padding-top: 10px;box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);}
.box-image{width: 100%; margin-bottom: 5px;max-height: 250px;overflow: hidden;}
 .img-restaurant{ width: 100%;height: auto;}
.info-restau{border: 3px solid black;height: auto;width: 100%;position: relative;left: 410px;bottom: 200px;}

@media (max-width:500px) {
    .form-card {
        max-width: 300px;
    }  .left-choise {margin-bottom: 50px;}  
    
}

.identiter{padding-left: 10px; padding-top: 2px;margin-top: 0px; text-align: left;padding-left: 5px;position: relative;}

.adresse{text-align: left;padding-bottom: 5px;margin-bottom: 0px;padding-bottom: 0px;margin-bottom: 0px;
     margin-right: 10px; font-weight: normal;font-size: 16px;color: #555;line-height: 1.3;}
 .about-restau{padding-left:  0px;}   

.adresse span { position: relative;bottom: 7px;}
.description-restaurant{padding-left: 10px; text-align: left;font-weight: normal;font-size: 16px;color: #555;line-height: 1.3;}

.service {font-weight: normal;font-size: 16px;color: #000;line-height: 1.3;}


.love{position: absolute;right: 5px;top: 10px;}
.right-panel {
    width: 100%; /* La largeur peut être ajustée */
    
    
     /* Permet le défilement du contenu de droite */

    box-sizing: border-box;
    background-color: #fff;
    margin-top: 20px;
    
     
}
@media (max-width: 650px) {
    .right-panel .laptop-img,.invite {
        display: none;
    }}


.right-panel p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;padding: 10px;
}

.right-panel .form-container {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}

.right-panel .form-input {
    flex-grow: 1;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    outline: none;
}

.right-panel .form-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

.right-panel .privacy-text {
    font-size: 12px;
    color: #888;
    line-height: 1.4;
}

.hide-mobile{display:none}