html, body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: gray;
    font-family: Arial, sans-serif,'Candara','Comic Sans MS';
    box-sizing: border-box;
    background-color: #f4f4f4;


    * Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none; /* Cache la barre de défilement */
  }
  /* Pour Internet Explorer, Edge (Legacy) et Firefox */
  -ms-overflow-style: none;  /* IE and Edge Legacy */
  scrollbar-width: none; 
    
}
* {box-sizing: inherit;}


#page
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    

}
#hide
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 120px;
    border: 1px solid black;
    margin-bottom: 0px;
}


#caracteristique{text-align: left; width: 100%;min-height: 150px;background-color: white;margin: auto;
    padding-top: 10px;max-width: 600px; margin-bottom: 5px;margin-top: 0px;border: 2px solid white;box-shadow: 0px 0px 4px grey;}

.ville, .pays{width: 44%;display: inline-block;margin-right: 8px;text-align: center; }


.ville select, .pays select{  font-size: 18px;
    line-height: 1.6;
    color: #333;width: 200px;
     border: 1px solid black;}
.commune fieldset,.type-bien fieldset{width: 95%;max-width: 550px; margin: auto;margin-top: 15px;
    font-size: 16px;
    line-height: 1.4;
    color: #333;
    border-radius: 5px; text-align: left; box-shadow: none;}
.commune span, .type-bien span{display: inline-block; margin-left: 15px; margin-top: 10px;}


.send-form{text-align: right; padding-right: 25px;height: 60px;}
.send-form label{margin: auto; text-decoration: none;border-radius: 8px; font-size: 18px;
    padding: 8px 15px 10px 15px; background-color: rgb(0,0,125);color: white;font-family: 'Courier New';
    font-weight: bold;font-style: oblique;position: relative;}


    .nav-links a {
        color: white;
        text-decoration: none;
        font-size: 1.1em;
        padding: 10px 20px;
        border-radius: 5px;
        margin: 0 10px;
    }

    .nav-links a.active {
        background-color: #f1735a;
    }

    .container {
        width: 100%;
    }

    .courses-grid {
        display: flex;
          gap: 20px;
          flex-wrap: wrap;justify-content: center;
    }

    .course-card {
        background-color: white;
        
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: relative;
        width: 320px;
        height: 300px;
        min-width: 320px;
        
    
    }

    
    .course-card-image {
        width: 100%;

        overflow: hidden;
        height: 150px;
        
        
    }
    .course-card-image img{
        width: 100%;
        height: auto;
        
        
        
    }
    
    .course-tag {
        background-color: #f1735a;
        color: white;
        padding: 5px 10px;
        font-size: 0.8em;
        font-weight: bold;
        border-radius: 0 0 5px 5px;
        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(-100%);
        z-index: 10;
    }

    .card-content {
        padding: 20px;
        display: block;
        position: relative;
       
    }

    .card-content h3 {
        margin: 0 0 0px;
        color: #333;
        position: relative;
    }

    .tag {
        
background-color: rgb(0,0,125);
position: absolute; bottom: 0px;right: 0px;

padding: 5px 15px;
font-weight: bold;
font-size: 14px;
text-transform: uppercase;color: white;
    }

    .card-content p {
        font-size: 0.9em;
        color: #666;
        margin: 0 0 15px;
        flex-grow: 1;
    }

    .read-more {
        color: #f1735a;
        text-decoration: none;
        font-weight: bold;
    }
    .time_pos{position: relative;bottom: 13px;}


    .container_1 {
        display: block
    }
    
    /* Bloc de gauche (défilement) */
    .left-panel {
        width: 100%;
        max-width: 500px;
        padding-top: 0px;
        margin: auto;
        
    }
    .header_panel{position: relative; margin-top: 0px;padding-top: 5px; background-color: rgb(0,0,125);height: 30px;text-align: center;font-weight: bold; width: 100%;margin-bottom: 20px;color: white;}
    .left-panel form{background-color: #ffffff;}
 button {
    background-color: rgb(0,0,125);
    color: #fff;
    border: none;
    padding: 9px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-start;
}
    
    /* Bloc de droite fixe */



    .form-card {
        background-color: rgba(255, 255, 255, 0.85);
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 95%;
        max-width: 440px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;margin: auto;height: 250px;position: relative;
    }
    
    .form-group select {
        
        width: 100%;
        padding: 7px 7px 7px 0px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: white;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        cursor: pointer;
        font-size: 16px;
        color: #555;
        
    }

    .form-group {
        width: 100%;
        position: relative;
    }

    .form-group label {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        color: #333;
        font-size: 14px;
        font-weight: 500;
    }

    

    .search-btn {
        width: 150px;
        padding: 8px;
        background-color: rgb(0,0,125);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 17px;
        font-weight: bold;position: absolute;right: 35px;bottom: 10px;
        text-transform: uppercase;margin-left: 220px;
    }

    .search-btn:hover {
        background-color: #0056b3;
    }


    .left-panel {
        width: 100%;
        max-width: 500px;

        display: flex;align-items: center;
        padding-top: 0px;height: 300px;
        flex-direction: column;
    }




    .right-panel {
        width: 100%;
        margin: auto;
        margin-top: 20px;
        max-width: 500px;
        background-color: #fff;
        
         height: 300px;overflow-y: hidden;padding-top: 0px;
    }
    
    .laptop-img {
        width: 95%;
        height: 250px;
        display: block;margin: auto;
        margin-bottom: 20px;
    }
    .content_img{height: 200px;overflow-y: hidden;margin-top: 0px;}
    
    .right-panel p {
        font-size: 12px;
        color: #888;
        line-height: 1.4;padding: 10px;
    }
    
    .right-panel .form-container {
        display: flex;
        border: 1px solid #ddd;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 20px;
    }
    
    .right-panel .form-input {
        flex-grow: 1;
        border: none;
        padding: 10px 15px;
        font-size: 16px;
        outline: none;
    }
    
    .right-panel .form-btn {
        background-color: #333;
        color: #fff;
        border: none;
        padding: 10px 15px;
        font-size: 16px;
        cursor: pointer;
    }
    
    .right-panel .privacy-text {
        font-size: 12px;
        color: #888;
        line-height: 1.4;
    }
    
    .save_favorite{position: absolute;right: 10px;}

    
    @media (max-width: 700px) {
        .courses-grid {
            display: block;
        }

        .course-card {
        width: 100%;
        height: 370px;
        max-width: 500px;margin: auto;margin-bottom: 8px;
    }
     
    .course-card-image {
        width: 100%;

        overflow: hidden;
        height: 200px;    
    }
    }
    @media (max-width: 500px) {
        

        .course-card {
        box-shadow: 0px 0px 2px gray
    }
     
    body{background-color: #f4f4f4;;}
    }

.hide-mobile{display:none}