
html, body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif,'Candara','Comic Sans MS';
    min-height: 100vh;
    box-sizing: border-box;
    
}
* {box-sizing: inherit;}
#page_principale
{
    background-color: red;
    width: 100%;
    margin: 0px;
    padding: 0px;

}

#contenu
{
    
	width: 100%;
	text-align: center;

	padding-left: 0px;
    text-align: center;
    
}
#aside
{
	
	width: 400px;
   background-color: white; 
	height: 100%;padding-top: 0px;
	font-size: 18px;
float: left;
    padding: 0px;display: none;
    margin-right: 0px;
    height: 0%;margin-top: 0px;padding-top: 0px;
}
#bolc-aside{text-align: left;font-size: 16px; padding: 8px;
     width: 450px;box-shadow: 0px 0px 2px black; position: fixed;
     margin-top: 0px;height: calc(100% - 100px); background-color: white; overflow: auto;}
#bolc-aside h3{display: block;text-align: left;color: rgb(0,0,125);font-weight: bold;font-style: oblique;font-family: 'Courier New';font-size: 20px;text-align: center;}     
.vendre-avec-nous{text-align: left;margin-right: 15px;font-size: 16px;max-width: calc(100% - 700x);}
.voir-plus{color: red;font-style: oblique;font-weight: bold;font-family: 'Courier New';font-size: 20px;}
.message-aide{text-align: left;height: 50px;width: 100%;position: relative;display: flex;}
.message-aide svg{display: block;}
.message-aide span{display: block; margin-left: 10px;}
.message-lien, .estimation{display: flex;margin: auto; text-decoration: none;border-radius: 8px; 
    padding: 8px 20px 10px 20px; background-color: rgb(0,0,125);color: white;font-family: 'Courier New';
    font-weight: bold;font-style: oblique; font-size: 18px;}




    #blog-creation-compte{ width: 100%; padding-left: 15px;text-align: center; margin-top: 20px; padding-top: 45px;}
    .info{text-align: center;font-style: oblique;width: 75%;}
    
    .formulaire{margin: auto; background-color: white;padding-top:20px ;
     margin-top: 20px;width: 100%; margin-bottom: 50px;padding-bottom: 50px;}
    
  .commune-p{text-align: left;padding-left: 40px;}.commune-p label{font-weight: bold;font-family: 'Courier New';font-size: 18px;}
    
    #caract{font-family: 'Courier New';font-weight: bold;font-size: 20px; margin: 20px;padding-top: 20px;border-radius: 10px;text-align: left; padding-bottom: 40px;font-style: oblique;}
   
   
    #caract input{font-family: 'Courier New';font-weight: bold; font-style: oblique;margin-bottom: 15px;}
#numero_rue{width: 50px;}
   
    .type-bien{display: inline-block;min-width: 100px;margin-right: 10px;font-style: oblique;
        font-family: 'Courier New';margin-top: 15px;font-weight: bold;font-size: 18px;}
    .nbr{display: inline-block;min-width: 100px;margin-right: 20px;margin-top: 20px;padding-left: 10px;
        font-style: oblique;font-weight: bold;}
    .nbr input{width: 50px;font-size: 17px;height: 20px;}
    .prix {display: block;margin-top: 20px;padding-left: 10px; font-weight: bold;font-style: oblique;}
    .prix input{width: 80px;height: 20px;margin-left: 10px;font-size: 17px; font-style: oblique; margin-right: 10px;}
    
    .line-3{padding-left: 20px; font-size: 17px;font-weight: bold;font-style: oblique;text-align: left;
        font-family: 'Courier New';margin-bottom: 20px;font-weight: bold;font-size: 18px;}
    
    .line-3 label{padding-top: 10px;}
    
    
    
    .line-2 label{margin-left: 10px;  width: 230px;height: 30px; display: inline-block; text-align: center;font-size: 18px;}
    .line-2 input{width: 230px;height: 30px; display: inline-block; margin-left: 10px;}
    .line-4{text-align: center; margin-top: 50px;}
    input{text-align: center; font-size: 17px;font-style: oblique;}
    
        #lancer {height: 40px;text-align: right;padding-top: 8px;}
    .lien-connexion{color: rgb(0,0,125);}
    .sexe{display: inline-block;width: 280px;text-align: left;padding-left: 10px;font-style: oblique;}
    .sexe span{margin-right: 30px;}
    label svg{position: absolute;top: 5px;left: 20px;}
    #btimg, .valider{font-size: 18px;font-style: oblique; font-family: 'Courier New'; width: 130px;position: relative;text-align: left;margin-left: 10px;height: 40px;margin-right: 20px;}
    .valider{width: 200px;background-color: rgb(0,0,125); color: white;font-weight:bold;
        border-radius: 8px; padding: 10px 15px 10px 50px;margin-top: 10px;}
    
    .line-5{text-align: center; margin-top: 50px;position: relative;}
    #valider{width: 200px;background-color: green; color: white;font-weight: bold;
        border-radius: 8px; padding: 10px 25px 10px 50px;margin-top: 10px;
        font-size: 20px;font-style: oblique; font-family: 'Courier New'; width: 150px;position: relative;text-align: left;margin-left: 10px;height: 40px;margin-right: 20px;}
    .description{padding-left: 20px; display: flex;font-size: 17px;font-weight: bold;font-style: oblique;}
    #description{width: 400px;height: 100px;font-size: 16px;padding: 10px;border-radius: 10px;margin-right: 10px;text-align: left;font-style: oblique;}
    .description label{display: block;width: 100px;padding-top: 45px;}
    
    
    

.description{padding-left: 20px; display: flex;font-size: 17px;font-weight: bold;font-style: oblique;}
#description{width: 400px;height: 100px;font-size: 16px;padding: 10px;border-radius: 10px;
    margin-right: 10px;text-align: left;font-style: oblique;margin-bottom: 15px;}
.description label{display: block;width: 100px;padding-top: 45px;font-family: 'Courier New';}
    
.line- label{margin-left: 10px;  width: 230px;height: 30px; display: inline-block;
     text-align: center;font-size: 18px;}
     #date,   #commune, .commune-p label{max-width: 150px;height: 25px; margin-right: 20px;
        font-style: oblique; font-size: 17px;margin-left: 0px;}
        
    
.hide-mobile{display: none;}