{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"   media="(max-width:900px)" href="{% static 'css/menu_mobile.css' %}">
    
    <link rel="stylesheet"   media="(max-width:900px)" href="{% static 'blog/css/employer_mobile.css' %}">
    <link rel="stylesheet"  media="(min-width:900px)"  href="{% static 'blog/css/employer.css' %}">
    
    <link rel="stylesheet"   media="(min-width:900px)" href="{% static 'css/menu_desktop.css' %}">
    
    <title>EsikaApp</title>
</head>
<body>
    <div id="page_">

        {% include 'menu_desktop.html' %}
        {% include 'menu_mobile.html' %}

        <div id="cacher"></div>
        {% include 'petit_menu_ordi.html' %}
        <div id="contenu">
            
            
            
        <div class="right-panel">

            <form action="{% url 'add_employer' %}" method="post">
                {% csrf_token %}

            <img src="{% static 'img/addEmployer.jpg' %}" alt="Ordinateur portable" class="laptop-img">
            <p>
                Associer le compte de l'employé
            </p> <div class="form-code">
                    <input type="text" class="form-input" placeholder="Siasir le code">
                    <button class="form-btn">→</button>
                </div>
                <p class="privacy-text">
                    Si l'employé n'a pas de compte, invitez-le à s'inscrire et à remplir son profil. Ainsi,
                     ses informations resteront à jour et la collaboration sera plus efficace.        </p>
           
        </div>
        <span class="hide-desktop"><hr></span>
        <div class="left-panel">
            {% if formError %}
            
            <div class="form-container form_1">
                
                <div style="background-color: #f8d7da; color: #721c24; border: 1px solid #f5c6cb; padding: 15px; border-radius: 5px; font-family: sans-serif; display: flex; align-items: center;">
                    <span style="font-size: 24px; margin-right: 10px;">&#9888;</span>
                    <div>
                      <h4 style="margin-top: 0; margin-bottom: 5px;">Erreur de saisie : informations requises</h4>
                      <ul style="margin: 0; padding-left: 20px;">
                        <li>Le <strong>Nom du produit ou service</strong> doit être une chaîne de caractères.</li>
                        <li>Le <strong>Prix</strong> doit être un nombre.</li>
                        <li>La <strong>Date</strong> doit être au format JJ/MM/AAAA (ex: 01/05/2010).</li>
                      </ul>
                    </div>
                  </div>
            </div>
         
            {% endif %}
            
            
            <div class="form-container">
             
                <div class="tab-buttons">
                    <button class="active">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                        Restaurant
                    </button>
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-scissors"><circle cx="6" cy="6" r="3"></circle><circle cx="6" cy="18" r="3"></circle><line x1="20" y1="4" x2="8.12" y2="15.88"></line><line x1="14.47" y1="14.48" x2="20" y2="20"></line><line x1="8.12" y1="8.12" x2="12" y2="12"></line></svg>
                        Salon de Beauté
                    </button>
                </div>
                
                    <div class="form-content">
                        <div class="left-column">
                            <div class="input-group">
                                <label for="nom-complet">Nom Complet</label>
                                <input type="text" id="nom-complet" name="full_name" placeholder="" required>
                            </div>
                            <div class="input-group">
                                <input type="text" name="fonction" id="poste" placeholder="Poste(e.g., Serveur, Cuisinier)">
                            </div>
                            <div class="input-group">
                                <label for="date-naissance">Date de Naissance</label>
                                <input type="date" id="date-naissance" name="date_naissance" placeholder="">
                            </div>
                            <div class="input-group">
                               
                                <input type="tel" name="telephone" id="numero-telephone" placeholder="Numéro de Téléphone">
                            </div>
                            <div class="input-group">
                                <label for="statut">Sexe</label>
                                <div class="status-input">
                                    <select id="statut" name="sexe">
                                        <option value="homme">homme</option>
                                        <option value="femme">femme</option>
                                    </select>
                                    
                                </div>
                            </div>
                            
                        </div>
                        <div class="right-column">
                            <div class="photo-upload">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-camera"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                            </div>
                            <div class="input-group">
                                <label for="date-embauche">Date d'Embauche</label>
                                <input type="date" id="date-embauche" name="date_embauche" placeholder="">
                            </div>
                            <div class="input-group">
                                
                                <input type="email" name="mail" id="email-professionnel" placeholder="Email Professionnel">
                            </div>
                            
                            
                            <div class="input-group montant">
                            
                                <input type="number" id="salaire" placeholder="Salaire/mois $" name="montant">
                                <select name="devise" id="devise">
                                    <option value="dollard">USD($)</option>
                                    <option value="franc">CDF(Fc)</option>
                                </select>
                            </div>
                            <div class="input-group">
                        
                                <input type="text" name="adresse" id="adresse" placeholder="Adresse">
                            </div>
                        </div>
                    </div>
                    <div class="actions">
                        <button type="button" class="cancel">Annuler</button>
                        <button type="submit" class="save">Enregistrer <span class="hide-telephone">l'Employé</span> </button>
                    </div>
               
            </div>
        
            

        </div>

    </form>

</div>
</div>
<script src="{% static 'java/jquery.js' %}"></script>
    <script src="{% static 'java/java_all.js' %}"></script>
   
</body>
</html>