<aside class="sidebar">
    <div class="sidebar-header">
        <h2>Tableau de Bord</h2>

        
    </div>
    
    <div class="sidebar-nav">
        
        <ol>
            <li class="active" onclick="showTab('apercu')">
                <a href="#">Aperçu Général</a>
            </li>
            <li onclick="">
                <a href="#">Rerservations</a>
            </li>
            <li onclick="showTab('revenus')">
                <a href="#">Gestion Revenus</a>
            </li>
            <li onclick="showTab('depenses')">
                <a href="#">Gestion Dépenses</a>
            </li>
            <li onclick="showTab('revenus')">
                <a href="#">Gestion Dettes</a>
            </li>
            <li onclick="showTab('salaires')">
                <a href="#">Gestion Salaires</a>
            </li>
            <li onclick="showTab('revenus')">
                <a href="{% url 'liste_employer' %}">Employés</a>
            </li>
            <li onclick="showTab('revenus')">
                <a href="#">Presences Employer</a>
            </li>
            <li onclick="showTab('revenus')">
                <a href="#">Gestion Stock</a>
            </li>
        </ol>
    </div>
</aside>
