{% load static %}
{% load i18n %}

<div id="text-presentation" class="hide-desktop">
    
    
{% blocktrans %}
Simplifiez votre quotidien grâce à notre plateforme intelligente, dédiée à la recherche de biens immobiliers, 
à la prise de rendez-vous en ligne et à la gestion de salons de coiffure et de restaurants.
Que vous cherchiez la maison de vos rêves, un terrain à construire, ou que vous souhaitiez louer ou vendre votre propriété, notre application simplifie tout
<br><br><hr>
<div id="div-bloc-presentation">
<p class="bloc-presentation-mobile"><strong>Que vous cherchiez</strong> la maison de location, un terrain à construire,une salle pour evenement et autres
    biens immobiliers tout en profittant des outils pour estimer le prix d'un bien immobilier en fonction de caracteristique.
</p>
<p class="bloc-presentation-mobile"> <strong> Agent immobilier ou bailleur</strong>Publiez facilement vos annonces 
    et gérez vos propriétés et rendez-vous en toute simplicité. rester en contact avec vos locataires,facilité le payemente
    et numerisé les preuves pour ameliorer la securité</p>

<p class="bloc-presentation-mobile">
    <strong>homme ou femme</strong>En quelques clics prenez rendez-vous pour votre look, beauté maquillage et autres, reservation
    d'une table pour un diener ou un evenement avec les meilleurs restaurant
</p>
<p class="bloc-presentation-mobile">
<strong>Professionnel de coiffure ou restaurateur</strong> Gérez vos employés, optimisez la visibilité
 de votre établissement et facilitez les réservations en ligne.
 </p>

 </div>
 {% endblocktrans %} 
 <div id="images-detail">
    <img src="{% static 'img/look.jpg' %}" alt="">
    <img src="{% static 'img/food.jpg' %}" alt="">
    <img src="{% static 'img/home.jpg' %}" alt="">
    <img src="{% static 'img/stat.png' %}" alt="">



 </div>
 <hr>
<p class="savoir-plus"><strong>Rejoignez-nous </strong>et découvrez une manière innovante de gérer vos besoins quotidiens ! 
pour en savoir plus et en detaill cliquez <br><strong><a href="">plus apropos</a></strong>

<br><br></p>

    
</div>  