{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"   media="(max-width:900px)" href="{% static 'blog/css/revenus_mobile.css' %}">
    <link rel="stylesheet"  media="(min-width:900px)"  href="{% static 'blog/css/revenus.css' %}">
    
    <link rel="stylesheet"   media="(min-width:900px)" href="{% static 'css/menu_desktop.css' %}">
    
    <link rel="stylesheet"   media="(max-width:900px)" href="{% static 'css/menu_mobile.css' %}">
    
    <title>EsikaApp</title>
    
</head>
<body>
    <div id="page_pricipale">

        {% include 'menu_desktop.html' %}
        {% include 'menu_mobile.html' %}

        <div id="cacher"></div>
        {% include 'petit_menu_ordi_user.html' %}
        
        <div id="contenu">
            <div class="right-panel">
                <p class="container-img">
                    <img src="{% static 'img/dette.png' %}" alt="Ordinateur portable" class="laptop-img">
        
                </p>
                  <p class="about">
                    <strong style="color:#000;">Gérez mieux vos Dettes,</strong> enregistrez vos dettes pour une gestion optimale. Utilisez des noms de dettes uniformes afin d'analyser et de maîtriser les remboursements de chaque catégorie par mois, 
                    Ex : Prêt bancaire, Crédit fournisseur, Dette de carte de crédit, etc.
                    </p> 
                       
            </div>
            <div class="left-panel">

                {% if formError %}
                <div class="form-container">
                    
                    <div style="background-color: #f8d7da; color: #721c24; border: 1px solid #f5c6cb; padding: 15px; border-radius: 5px; font-family: sans-serif; display: flex; align-items: center;">
                        <span style="font-size: 24px; margin-right: 10px;">&#9888;</span>
                        <div>
                          <h4 style="margin-top: 0; margin-bottom: 5px;">Erreur de saisie : informations requises</h4>
                          veillez bien remplir les informations la datte ou mois de l'empreint est requise
                        </div>
                      </div>
                </div>
                {% endif %}
                <div class="form-container">
                    <h3>Enregister les Dettes</h3>
                    <form action="{% url 'dettes' %}" method='post' class="form-items">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            
                            <input type="number" required  step="0.01" name="montant" placeholder="montant  en $">
                           
                        </div>
                        <div class="form-group">
                            
                            <input type="text"  name="description"  placeholder="description(optionnel)">
                           
                        </div>
        
                        
                        <div class="form-group">
                            <label for="empreint">Date d'empreint</label>
                            <input required type="date" id="empreint" name="date_dettes">
                        </div>

                        <div class="form-group">
                            <label for="rembourssement">Date de rembourssement</label>
                            <input  type="date" id="rembourssement" name="datte_rembourssement">
                        </div>
                        
        
        
                        
                        
                        <button type="submit" class="submit-button">Enregistrer la dette</button>
                    </form>
                </div>
            
            </div>
        
        
        </div>
        
            
                           
    </div>
</div>
    <script src="{% static 'java/jquery.js' %}"></script>

    <script src="{% static 'java/java_all.js' %}"></script>
    <script>
        $(document).ready(function() 
        {
        var svg_profile =$('.svg_gestion');

        svg_profile.attr('fill','#f39c12').css('width','40px').css('height','40px').css('background-color','#eee').css('padding','5px');
        
        });
    </script>
    
</body>
</html>